<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032483948627-eke28l9s52ui408ppnpchhasale96u7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032483948627-eke28l9s52ui408ppnpchhasale96u7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAMKl4sBtuxrU47RysAP9SSOGxx8ZwppxM</string>
	<key>GCM_SENDER_ID</key>
	<string>1032483948627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hitachipaymentservices.Smart-Attendance-System</string>
	<key>PROJECT_ID</key>
	<string>myweb-a422d</string>
	<key>STORAGE_BUCKET</key>
	<string>myweb-a422d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032483948627:ios:eefaa076dd9e3eaa4c9ea6</string>
	<key>DATABASE_URL</key>
	<string>https://myweb-a422d.firebaseio.com</string>
</dict>
</plist>